// Place all the styles related to the Showtimes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.available a {
  color: #8dcfff;
  text-decoration: none;
  &:visited {
    color: #8dcfff;
  }
  &:hover {
    color: orange;
  }
}

.running_out a {
  color: #ff4500;
  text-decoration: none;
  &:visited {
    color: #ff4500;
  }
  &:hover {
    color: #ffffaa;
  }
}

.sold_out a {
  color: #666666;
  text-decoration: none;
  &:visited {
    color: #666666;
  }
  &:hover {
    color: #af6500;
  }
}