<h1>Movies</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Running Time</th>
    <th>Rating</th>
  </tr>
  
<% Movie.all.each do |movie| %>
  <tr>
    <td><%= link_to movie.name, showtimes_path(movie) %></td>
    <td><%= movie.running_time %></td>
    <td><%= movie.rating %></td>
  </tr>
<% end %>
</table>